早餐情况

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
zao = pd.read_excel(open('/Users/ymzhang/Desktop/quanshiduan.xlsx','rb'), sheetname='sheet0')

In [78]:
zao.columns

Index(['city_name', 'eleme_open_time', 'bd_express', 'eleme_count',
       'city_name.1', 'meituan_open_time', 'bd_express.1', 'meituan_count',
       'diff'],
      dtype='object')

首先对数据进行变换，使得数据分为饿了吗和美团两个组

In [79]:
e=['city_name', 'eleme_open_time', 'bd_express', 'eleme_count']
m=['city_name.1','meituan_open_time','bd_express.1','meituan_count']
new_columns=['city_name','open_at','biaopin','counts','group']

In [80]:
eleme=zao[e].dropna()
meituan=zao[m].dropna()
eleme['group']='eleme'
meituan['group']='meituan'

In [81]:
eleme.columns=new_columns
meituan.columns=new_columns

In [82]:
open_at=eleme.append(meituan)

In [83]:
open_at.reset_index(inplace=True)

In [84]:
open_at.drop('index',1,inplace=True)

只考虑早餐时段开门的餐厅

In [85]:
zao_times=['06:00','06:30','07:00','07:30','08:00','08:30','09:00','09:30']

In [86]:
open_at1=open_at[(open_at.open_at!='close')&(open_at.open_at.isin(zao_times))]

In [87]:
pd.unique(open_at1.open_at)

array(['06:00', '06:30', '07:30', '08:00', '08:30', '09:00', '09:30',
       '07:00'], dtype=object)

In [88]:
writer=pd.ExcelWriter('open_at1.xlsx',engine='xlsxwriter')
open_at1.to_excel(writer,sheet_name='Sheet1')

夜宵情况

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
ye = pd.read_excel(open('/Users/ymzhang/Desktop/quanshiduan.xlsx','rb'), sheetname='sheet1')

In [65]:
ye.columns

Index(['city_name', 'eleme_close_time', 'bd_express', 'eleme_count',
       'city_name.1', 'meituan_close_time', 'bd_express.1', 'meituan_count',
       'diff'],
      dtype='object')

In [66]:
yexiao=['00:00', '00:30', '01:00', '01:30', '02:00','02:30', '03:00', '03:30', '04:00', '04:30', '05:00', '05:30','22:00', '22:30', '23:00', '23:30']

In [67]:
e=['city_name', 'eleme_close_time', 'bd_express', 'eleme_count']
m=['city_name.1','meituan_close_time','bd_express.1','meituan_count']
new_columns=['city_name','close_at','biaopin','counts','group']

In [68]:
eleme=ye[e].dropna()
meituan=ye[m].dropna()
eleme['group']='eleme'
meituan['group']='meituan'

In [69]:
eleme.columns=new_columns
meituan.columns=new_columns

In [70]:
close_at=eleme.append(meituan)

In [71]:
close_at.reset_index(inplace=True)
close_at.drop('index',1,inplace=True)

In [73]:
close_at1=close_at[(close_at.close_at!='close')&(close_at.close_at.isin(yexiao))]

In [74]:
pd.unique(close_at1.close_at)

array(['22:00', '22:30', '23:00', '23:30', '00:00', '00:30', '01:00',
       '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30',
       '05:00', '05:30'], dtype=object)

In [76]:
writer=pd.ExcelWriter('close_at1.xlsx',engine='xlsxwriter')
close_at1.to_excel(writer,sheet_name='Sheet1')